git+ssh://git@community-repo.attackiq.com/attackiq/scenario_packaging.git#egg=scenario_packaging
git+ssh://git@community-repo.attackiq.com/attackiq/zest.releaser.git#egg=zest.releaser

#to fix win
setuptools==21.2.1
git+ssh://git@community-repo.attackiq.com/attackiq/scenario_wizard.git#egg=scenario_wizard

#for debugging uncomment following line and comment out earlier line
#file:c:/code/ai/scenario_wizard#egg=scenario_wizard

requests
